# Arquivos de Build/IDE (Spring Boot / Maven / IntelliJ)
##############################################
target/
.mvn/
*.iml
.idea/
.vscode/

# Arquivos de Log e Temporários
##############################################
*.log
log/
tmp/

# ARQUIVOS SENSÍVEIS E DE CONFIGURAÇÃO LOCAL (CORREÇÃO)
##############################################
acervo-carmen-lydia-474523-ad0aefaa684f.json

# Bloqueia qualquer chave de serviço genérica:
*.json
*.key
acervo-api/src/main/resources/*.key

# --- ARQUIVOS DE CONFIGURAÇÃO LOCAL ---

# 1. Bloqueia o arquivo application-local.properties em qualquer subdiretorio
**/application-local.properties

# 2. Bloqueia o arquivo application-dev.properties
**/application-dev.properties

# 3. Bloqueia qualquer arquivo de ambiente
.env
.env.local